extends  jade/_base
block meta
	-var title = "KOISHI"
	-var description = ""
	-var keyword = ""
	-var og_name = "";
	-var og_title = "";
	-var og_description = "";
	-var og_url = "";
	-var og_img = "";
	-var dir_root = "./";
	-var css = "./css/index.css";
block js
	script(rel="text/javascript",src="./common/js/lib.js")
	script(rel="text/javascript",src="./js/index.min.js")
block css
	link(rel="stylesheet" type="text/css" href="./common/css/slick-theme.css" media="all")
	link(rel="stylesheet" type="text/css" href="./common/css/jquery.fancybox.css" media="all")
	link(rel="stylesheet" type="text/css" href="./common/css/slick.css" media="all")
block contents
	#mv
		.mv__title
			img.logo(src="./images/mv_chara.png",alt="")
			img.text(src="./images/mv_title.png",alt="KOISHI")
	#contents
		#profile
			.inner
				h2.profile__title
					img(src="./images/profile_title.png",alt="プロフィール PROFILE")
				.block
					.profile__baloon
						.baloonInner
							p.intro.
								福岡県出身、在住のイラストレーター。キャラクターデザインをメインに活動中。<br>
								実在する国に住む、動物や架空の生物がモチーフのキャラクター作成が多い。
							ul.achievements
								li.list
									p.text
										span.date 2009.11
										span.detail グループ展【あ、これ贈り物にしたいんで包んでください。】
									p.text
										span.date 2010.3
										span.detail グループ展【CROUCH START!】
									p.text
										span.date 2011.3
										span.detail グループ展【CROUCH START!2 GROW!】
									p.text
										span.date 2013.3
										span.detail 子どもの村 子どもプログラム　イラストの提供
									p.text
										span.date 2014.1
										span.detail 新年特別展覧会　干支展「午」
									p.text
										span.date 2014.1
										span.detail Global Game Jam 2014　参加
									p.text
										span.date 2014.2
										span.detail グループ展【BRANCH】
									p.text
										span.date 2014.8
										span.detail ～絵画・イラスト～ 「ニュー版画＆厳選！原画 展」
									p.text
										span.date 2015.2
										span.detail グループ展【BRANCH】
									p.text
										span.date 2015.5
										span.detail 株式会社MUSCLE MEDIA<br>マスコットキャラクター【マッスルくん】作成
									p.text
										span.date 2015.5
										span.detail AAA 4周年記念展覧会
									p.text
										span.date 2015.6
										span.detail 株式会社MUSCLE MEDIA<br>マッスルくんLINEスタンプ 制作
									p.text
										span.date 2015.7
										span.detail 個展【CLUTTER TRIPPERS】
									p.text
										span.date 2015.7
										span.detail 株式会社MUSCLE MEDIA<br>博多弁を喋るねこLINEスタンプ 制作
									p.text
										span.date 2015.11
										span.detail 146 BEST OF ONE MAN SHOW 特別賞受賞
									p.text
										span.date 2016.2
										span.detail グループ展【BRANCH】
									p.text
										span.date 2016.4
										span.detail 個展【WORLD APART!~Broke Version~】
									p.text
										span.date 2016.6
										span.detail 個展【PEEP】
									p.text
										span.date 2016.6
										span.detail イラストレーター　Snaker　マスコットキャラクター作成
									p.text
										span.date 2016.7
										span.detail バンド　あいまいもこ　マスコットキャラクター【もこくん】作成
					.profile__autorimage
						img(src="./images/autorimage.png",alt="")
		#character
			-var charaname = [];
			-charaname[1] = "マクレガー";
			-charaname[2] = "ボルタ";
			-charaname[3] = "チャカ";
			-charaname[4] = "シルクロ";
			-charaname[5] = "ジョー";
			-charaname[6] = "スポット";
			-charaname[7] = "デモニオ";
			-charaname[8] = "ダグラス";
			-charaname[9] = "クモリ";
			-charaname[10] = "ガイスト";
			-charaname[11] = "マイキー";
			-charaname[12] = "シャオトゥズ";
			-charaname[13] = "スティーブ";
			-charaname[14] = "バート";
			-charaname[15] = "サム";
			-charaname[16] = "アゼル";
			-charaname[17] = "モジ";
			-charaname[18] = "タンパチ";
			-charaname[19] = "マツモト";
			-charaname[20] = "スリート";
			-charaname[21] = "ワット";
			-charaname[22] = "タンブラー";
			-charaname[23] = "ジャグ";
			-charaname[24] = "デミタス";
			-charaname[25] = "アマリージョ";
			-charaname[26] = "バイオレット";
			-charaname[27] = "ジャド";
			-charaname[28] = "オレンジーズ";
			-charaname[29] = "フランク";
			-charaname[30] = "ロボ";
			-charaname[31] = "ハック";
			-charaname[32] = "ジャッロ";
			-charaname[33] = "ブル";
			-charaname[34] = "コロラド";
			-charaname[35] = "ヒトシ";
			-charaname[36] = "センパイ";
			-charaname[37] = "コウハイ";
			-charaname[38] = "フェンダー";
			-charaname[39] = "ハチェットマン";
			-charaname[40] = "カルヴノ";
			-charaname[41] = "レザール";
			-charaname[42] = "コウタ";
			-charaname[43] = "ソウスケ";
			-charaname[44] = "スペクター";
			-charaname[45] = "キジシロ";
			-charaname[46] = "クロシバ";
			-charaname[47] = "サバトラ";
			.inner
				.character__title
					img.text(src="./images/character_title.png",alt="キャラクター CHARACTER")
				.block
					.character__thumb
						ul.thumb__lists.slick-dots
							-for(var i = 1;i < 48;i++){
								-if(i == 1){
									li.list.active
										img.thumb(src="./images/thumbs/thumb_#{i}.png",alt="#{charaname[i]}")
								-}else{
									li.list
										img.thumb(src="./images/thumbs/thumb_#{i}.png",alt="#{charaname[i]}")
								-}
							-}
					.character__detail
						.character__descriptionbg
						ul.slideshow.slick
							-var charatext = [];
							-charatext[1] = "日本在住。魔界から留学でやってきた温厚な炎使いの悪魔。電車通勤にも慣れてきて、新米会社員として毎日奮闘中。最近スマートフォンを買った。同じ留学生の同僚(人間)と仲がいい。ライターが切れたときや寒い日など、同僚たちに大変重宝されている。悩みは銭湯に入れてもらえないことと体調不良の際に獣医を勧められることらしい。コンビニスイーツにハマっている。花粉症。";
							-charatext[2] = "アメリカ在住。遊ぶことが大好きな少年。ゲームが大好きでゲームセンターに行くのが日課。電気を操る能力を持っていて、充電が切れたときなどに頼られまくっている。ゲームセンターに行き過ぎてお小遣い不足気味でアルバイトを始めたらしいが、電気の調節が利かないなどでやや失敗気味。それに比例して学校の成績も失敗気味。";
							-charatext[3] = "アフリカ在住。活発で楽しいことに目がない火の精霊。集落でお祭りが始まると必ずやってくる。尻尾のヘビはお友達。たまにケンカしている。仮面が取れるのかどうかは謎。テンションが上がるとすぐ火を吹くところが玉に瑕。雨の日はちょっと元気がない。";
							-charatext[4] = "定住がなく、どこにでも突然現れる影の悪魔。よく悲しい気持ちの人のところにひょっこり現れる。サプライズが大好き。いつもニマニマしている。過去など一切語らないがどうやらいろいろあったらしい。甘いものが大好き。置いていたおやつがいつの間にかなくなっていたらつまみ食いされているかも。たまに道端で影を使った魔法を披露してお金を稼いだりしている。";
							-charatext[5] = "アメリカ在住。海賊に憧れている好奇心旺盛な鮫の少年。海賊に弟子入りして相棒であるタツノオトシゴのトビーと日々頑張っているがまだまだごっこレベル。言いつけの途中で飽きて遊び呆けては船長に怒られている。本人曰く剣の腕にかけては自信があるらしい。いつか七つの海を制覇するのが夢。";
							-charatext[6] = "アフリカ在住。平和主義のスターライト種のライオン。自然に帰れなくなり、小さな保護施設にお世話になっている。ダンスが大好き。たまに昔の生活が恋しくなる。コーヒーとこんがり焼いたトースト、カリカリ電池が好物。レッドランプガゼルの友達がいる。飼育員さんと世間話するのが日課。勝手に出歩いて散歩してることも多々ある。";
							-charatext[7] = "？？？在住。怒りっぽくプライドが高い悪魔。悪いこと(本人基準)とキャラメルが好き。実は寂しがり。なんだかんだでお人よしなところがある。召喚主がいなくなったため帰るに帰れない(本人談)らしい。口が悪いのでよく誤解されたりする。ボロボロのお屋敷に住み着いている。住み心地はイマイチだけど不気味な感じが気に入っているんだとか。";
							-charatext[8] = "？？？在住。思慮深い性格で、パイプをこよなく愛するおじさん。人情に厚い。大きな屋敷に住んでおり、様々な組織を動かしている首領という噂があるが真相は謎。小動物扱いされるのが嫌い。世界中に部下がいて秘密を探ろうとすると消されてしまうらしいが、やっぱり真相は謎。";
							-charatext[9] = "？？？在住。体は大きいけど紳士的で優しい性格。お茶会が好き。散歩に出掛けてはよく子守を頼まれている。太って見えるだけで本当はほとんど毛だと言い張っているらしい。実はちょっと浮いているらしい。不思議な空間を使って遠い国にも現れる。朝でも夜でもうろついているのでいつ寝ているのかわからない。";
							-charatext[10] = "ドイツ在住。茶目っ気たっぷりの悪魔神父。顔のわりにいい人。教会に来た人たちに手作りお菓子を振る舞っている。よく浮いてる。人を驚かすのが好きで登場の仕方を毎回考えている。しかし普通に現れても驚かれる。アゼルとは地元(魔界)の知り合いで実家がご近所さんらしい。結構おじさん。声が渋い。";
							-charatext[11] = "ジャマイカ在住。自由気ままに飛び回る陽気な龍。母国は中国。大好きなレゲエを聞きながら自由気ままに毎日を過ごしている。ちょっと空気が読めない。あちこちの国で名物料理を食べるのが好き。世界一周も夢じゃないとかなんとか。実はカンフーを嗜んでいる。しかし平和主義のためその腕前は未だ謎に包まれている。";
							-charatext[12] = "中国在住。堅実で大人しい性格。師匠である老虎(ラオフー)の下でカンフーの修行している。表情を出すのが苦手。小さいのでよくバカにされるが見かけによらずパワーがある。修行と称して掃除など雑務が多いが文句一つ言わずこなしている。冗談を言われてもなかなかうまく返せず、本人も真面目すぎることを密かに悩んでいる。";
							-charatext[13] = "アメリカ在住。マンハッタンの小さな新聞社に勤める記者。仕事熱心で人望も厚いが融通が利かないところがある。水泳が得意。昔は水泳選手になるのが夢だった。仕事上がりのビールが最高の幸せ。近所のバーの常連。マンション住まいで、部屋に大きな熱帯魚の水槽がある。でも掃除が大変。休みの日は丸一日熱帯魚にかまけていることも。";
							-charatext[14] = "アメリカ在住。ドラゴン兄弟の兄。緩いけど面倒見がいい。レストランで働いている。同僚やお客さんからの評判もよく、そろそろ昇給できそう。学生時代はその自由さで先生たちを困惑させ、不良のレッテルを貼られていたうえに数々の伝説を残した。最近フランス料理に興味があり、ぼちぼちお勉強中。自分の店を持つのが夢。";
							-charatext[15] = "アメリカ在住。ドラゴン兄弟の弟。しっかり者。高校に上がったばかりでちょっと浮かれている。最近ちょっと火が噴けるようになった。吹奏楽部でトランペット担当。兄のおかげで先生にすっかり覚えられている。成績はそこそこ良い(特に家庭科）。将来は実家の花屋を継ぐつもりらしい。学校の花壇の世話は全面的に任されている。おかげで女の子にもよく質問されることも。";
							-charatext[16] = "日本在住。真面目だけどどこか抜けている悪魔の小坊主。ちょっと欲張りでちゃっかり者の和尚さんに拾われてお寺で修行中。日本の文化に感動する毎日。J-POPが大好き。好物は白米と味噌汁(＋漬物は無敵らしい)パソコン、スマートフォン、CD、音楽プレイヤーやタブレットが欲しいようで物欲は全開。あわよくば好きなアーティストのライブにも行ってみたい。";
							-charatext[17] = "日本在住。妖怪風狢(かざむじな)。おっとりしていてちょっと鈍い。猯八から「兄ィ」と呼ばれている。猯八と同じくとある地方の妖怪で、別名は風神モドキ。似非関西弁を喋る。お笑いにうるさい。うどんが好物で、よくあちらこちらの茶屋に現れてはうどんを食べている。評価が高かったお店はご利益があるとかないとか。たまに人間に化けて町に現れることもある。";
							-charatext[18] = "日本在住。妖怪雷狸(かみなりだぬき)。少し短気でサッパリした性格。あだ名は「はっちゃん」。とある地方に伝わる妖怪で、雷神モドキとも呼ばれている。チャキチャキの江戸っ子。たぬきそばが許せない。昔はかなりのやんちゃっ子だったが、村人から噂を聞いた僧侶に捕まって狸鍋にされかけたことがあり改心した。化けることには自信があるらしい。";
							-charatext[19] = "アメリカ在住。楽天家でお人よしな青年。写真が趣味でよくカメラを持ち歩いている。母親が日本出身。一人暮らしが長いため料理の腕はなかなかのもの。意外と日本料理を作っている。一眼レフが欲しくてバイトしては一生懸命貯金している。柴島家とはお隣さん。";
							-charatext[20] = "アメリカ在住。柴島兄弟の兄。高校生。物静かで几帳面。いつも眠そうな顔をしている。常に白い息を吐いていてひんやりしてるので夏によく人に集られる。暗いところが苦手。怒るととんでもないらしい。顔は母親(虎)似で、弟の同級生から変に怖がられてたり猛獣グループのサークルなどに勧誘されたりしていて地味に困っている。";
							-charatext[21] = "アメリカ在住。柴島兄弟の弟。中学生。人懐っこくやんちゃな性格。大体遊ぶことと食べることばかり考えてる。体の半分が電気。嵐の日はめちゃくちゃはしゃぐ。箸で豆を掴むとクラス中が喜ぶのが面白い。どこかに隠れても光っているのですぐに見つかるのが悩み。顔は父親(犬)似で童顔。足が速く“稲妻小僧”の異名を持つ。冬は静電気がやばいので嫌がられる。";
							-charatext[22] = "アメリカ在住。デミタスとジョッキの三人組の中では最年長で冷静な性格だけど変わり者。ボーっとして何も考えていないように見えるが実は頭が切れる頭脳派。声が渋く、昔は歌手だったとか。愛称はタンタン。デミタスと違いタンブラーの突拍子もない行動には実は意味があるらしいが毎回ジョッキに止められ、本人も語らないので結果はわからない。";
							-charatext[23] = "アメリカ在住。ちょっと自信家でせっかちな悪魔。なぜかいつも紙袋を被っている。少々乱暴なところがあるがなんだかんだ常識人。意外と手先が器用。愛称はジョッキ。デミタスとタンブラーの突拍子もない行動によく振り回されている。ツッコミポジション。";
							-charatext[24] = "アメリカ在住。穏やかだけど少しマイペースすぎる青年。マグカップより少し大きいサイズ。猫が怖い。とあるカフェでジョッキやタンタン、ペットのソーサーと居候、バイトしている。愛称はデミ。基本的にあまり深く考えずに行動しているのでジョッキの気苦労が絶えない。ちょっぴり天然。";
							-charatext[25] = "メキシコ在住。気弱でちょっと恥ずかしがりな少年。プロレスラーに憧れているものの性格のせいでなかなかうまくいかない。しかも最近ゲームを買ってしまい、練習が若干疎かになっている。";
							-charatext[26] = "アメリカ在住。ヒップホップ好きな狸の青年。ちょっと言葉が悪い。何事も緩く考えているせいであちこちでトラブルを起こしてはバイトを転々としており、ジャドに心配されている。ちなみに出身は日本。";
							-charatext[27] = "アメリカ在住。本が好きな狼の青年。インテリで落ち着いた性格。よく図書館にいる。オレンジーズの突拍子もない行動にもそこそこ冷静に対応する。要は慣れらしい。決まりごとにちょっとうるさい。";
							-charatext[28] = "アメリカ在住。お調子者な牛の少年。底抜けに明るい性格。落ち着きがないのでよく走り回っている。わりとトラブルメーカー。意外と力持ちで腕相撲大会では優勝したことがあるという噂も。その落ち着きのなさからよくお叱りを受けているが全く気にしていない。";
							-charatext[29] = "アメリカ在住。自己中心的で貪欲な死神。チャラい。酒と金と女に目がない。死神の仕事をしょっちゅうサボっているため無収入で、日課のキャバクラへはハックの金を頂戴して行っているんだとか。ハックがゾンビになった大元の原因で、野球観戦に熱を上げすぎてうっかり運命を変えてしまったため強制的に人生の幕を下ろさせた。";
							-charatext[30] = "アメリカ在住。陽気で楽天的な狼男。メキシコ出身で、母国に自分の店を持っている。ハック、フランクとよく三人であれこれしてる。保護者的立場らしいが、トラブルの元になることもしばしば。住居があるのもかかわらずしょっちゅうハックの家に泊まっていて、その代わりに食事を毎食作っている。満月じゃなくても変身できる。結構力持ち。";
							-charatext[31] = "アメリカ在住。小心者で臆病なゾンビの少年。ちょっと理屈っぽいところがある。いつもロボ、フランクと三人でいる。常に金欠で(フランクのせい)人間界と魔界とのバイトの掛け持ちが多い。昼間は人間の学校に通っている。人間の肉が苦手でジャンクフードが大好き。火が怖い。野良ドラゴンだったシロに懐かれ、庭(？)で飼っている。";
							-charatext[32] = "イタリア在住。大らかで少しおせっかい。海とタバコが大好き。何とかなる！をモットーにしている。自暴自棄になって宿無し一文無しで旅をしていたところをブルと出会い、意気投合して行動を共にするようになった。小難しいことや理屈っぽいことが苦手。夢は自分たちの店を持つこと。";
							-charatext[33] = "イタリア在住。規則に縛られない自由奔放な平和主義者。気ままな旅とワインが大好き。実はジャッロより年上。過去にヤバイ仕事をしていたこともあるらしい。直感で判断しているので細かいことをいちいち考えるのが嫌いだが頭は良い。結構キレイ好き。";
							-charatext[34] = "日本在住。マイペースな性格のドラゴンサラリーマン。人事異動で日本にやってきた。満員電車に衝撃を受け、更に体が大きいので電車に乗れず仕方なく自転車か飛んで通勤している。飛駿とは兄弟だがお互い別々に暮らしていた。未だにお箸が使えない。";
							-charatext[35] = "日本在住。真面目な性格のドラゴンサラリーマン。日本生まれの日本育ち。車が欲しいが気に入ったデザインで乗れる車が見つからなくて困っている。コロラドの弟。たまに連絡を取る程度だったがうっかり再開して以来よく飲みに行っている。日本人(？)らしい面が多々あり、妙なところで遠慮がち。";
							-charatext[36] = "日本在住。本名は十 八一(ツナシ ヨウイチ)。かなりおっかない外見をした高校三年生。性格は少し繊細で大人しく、ちょっと恥ずかしがりでいつもマスクをしている。コンプレックスである見た目のせいでよくケンカを売られており、腕っ節が強いのでケンカに勝ってはいつの間にか舎弟が増えて困っているらしい。実家は《天下統一》という定食屋。子どもが好きなので子どもと係わる仕事をするか実家を継ぐかで進路に悩んでいる。";
							-charatext[37] = "日本在住。本名は五八 一（イソヤ ハジメ)。1081をリスペクトしている高校一年生。楽観的な性格で勘違いが多い。ちょっとチャラい。物事に対していい加減だが正義感があり、平凡なのが嫌でとにかく強くなりたいと思っている。ヒーローものが大好き。あちこちの毛を模様染めしているが本当は校則違反。1081とは幼馴染で、小さい頃に近所のいじめっ子にいじめられていたところを助けられて以来ずっと憧れている。";
							-charatext[38] = "アメリカ在住。楽観的な性格で自由主義の青年。小さいのでよく子どもと間違えられる。よく旅に出ているため、ほとんど家にはいない。バイクが好きで語らせると止まらなくなる。今こそなんとかなる精神で過ごしているが、元は塞ぎ込みやすい性格だったらしい。とある有名企業に勤めていた時期は休みがなかったとか。機械に強く手先が器用。料理が苦手でレシピを見てもなぜか爆発させる。";
							-charatext[39] = "？？？在住。寡黙で物事を正確にこなす几帳面な性格。元軍人。本人いわくSPらしいがどう見ても殺し屋。仮想空間と現実世界を行き来しており、あちこちに姿を見せる。基本的に誰にでも優しいが敵と見做すと容赦しない非情な面がある。ヘビースモーカーで各方面から心配されすぎてそろそろ禁煙を考えている。日向ぼっこが好き。";
							-charatext[40] = "アメリカ在住。少し無鉄砲な性格のドラゴン。煌びやかな都会に憧れ、無計画なまま遥か遠くの山奥から引っ越した。いつかDJとして名を上げるのが夢。田舎もの扱いされることを嫌う。普段は標準の言葉で話すが怒ったり興奮すると訛りが出る。体が小さいことを気にしている。街角にある小さなクラブハウスでバイト兼活動中。最近は昼夜逆転生活にも慣れてきたらしい。";
							-charatext[41] = "？？？在住。ちょっと捻くれ者のトカゲ。悪気はないけどつい皮肉を言ってしまうのでよく勘違いされる。ドラゴンの里の隣の里に実家があり、昔はカルヴノとよく遊んでいた。先祖代々受け継がれている魔術師の職に就いているが、本当はヒーローもののアクターになりたかったらしい。今もヒーローものには目がなく、内緒でこっそりDVDなどを買っている。歌が壊滅的に下手。";
							-charatext[42] = "日本在住。大人しい性格の高校生。宗輔が通う学校に転校してきた。アラスカ生まれ。視力が極端に悪く、眼鏡を外すとその場から動けなくなる。ラッコなので早く泳げると思われがちだがそうでもない。耳に生まれつき柄があり、よくピアスと間違えられる。見かけによらず合気道の達人で、転校初日に絡んできた宗輔を投げ飛ばした。暑さに滅法弱い。寿司と甘いものが大好き。";
							-charatext[43] = "日本在住。少々喧嘩っ早く荒っぽい性格の高校生。学校の番長的存在。両親の影響で変な関西弁を喋る。黄太に絡んであっさり負けたが、同じアラスカ生まれであることをきっかけに意気投合して仲良くなった。恐竜のわりに体が小さいが、今は何でも小型化する時代だから仕方ないらしい。情に厚く涙もろい。子どもの頃のトラウマが原因でホラー系全般が苦手。";
							-charatext[44] = "日本在住。見た目はおっかないけど頼れる優しい保父さん。子供たちに人気で『かいじゅう先生』と呼ばれている。他の先生や保護者からの信頼も厚い。手先が器用でかわいらしいものを作るのが好き。折り紙を折らせると大変なことになる。";
							-charatext[45] = "日本在住。可愛いものとお菓子が大好きな大学生。天真爛漫な性格。小さな体に見合わずパワフル。よくあちこち走り回っており、電池が切れると日当たりのいい場所に寝転がって元気を充電する。価値観が似ているクロシバとよく騒いでいる。サバトラに密かな好意を抱かれているが本人は気付いてない。よくダイエットを試みているが、『明日からやる』の明日がなかなか来ない。";
							-charatext[46] = "日本在住。スポーツ大好きな大学生。細かいことは気にしない大雑把な性格。大雑把すぎてよくサバトラに怒られている。でも気にしない。変なところで頑固。昔はとてつもなく人見知りだったらしい。まかないを目当てに飲食店でバイトしているとか。過去に習字をしていたため字がキレイ。";
							-charatext[47] = "日本在住。理系専攻の真面目な大学生。ちょっと神経質。音楽が大好きで、近所のCDショップの常連。身長のことを言われると怒る。友達のクロシバによく振り回されている。いつも不機嫌そうな顔をしているが怒っているわけではないらしい。跳躍力はあるが運動神経はあまりよくない。同じ学部に気になっている子がいる。";

							-for(var i = 1; i < 48; i++){
								li.slide
									.character
										img(src="./images/detail/detail_#{i}.png",alt="#{charaname[i]}")
									.name
										img(src="./images/name/name_#{i}.png",alt="#{charaname[i]}")
									.description
										p.text #{charatext[i]}
							-}

		#copylightworks
			.inner
				-var copylightCount = 24;
				.copylightworks__title
					img(src="./images/copylightworks_title.png",alt="ファンアート FANART")
				ul.lists.slick-dots
					- for (var i = 1; i <= copylightCount; i++) {
					li.list
						img(src='./images/copylightworks/thumbs/copylightworks_thumbnail_'+i+'.png',alt="")
					- }
				.modal
					.modalBG

					.modalinner
						.closebutton
							img(src="./images/modal_slideshow_close.png",alt="✕")
					ul.lists.slick
						- for (var i = 1; i <= copylightCount; i++) {
						li.list
							img(src='./images/copylightworks/detail/copylightworks_slideimg_'+i+'.png',alt="")
						- }

		#linestamp
			.inner
				.linestamp__title
					img(src="./images/line_title.png",alt="オリジナル LINEスタンプ LINE STAMP")
				.linestamp__stamps
					ul.stampList
						-for(var i = 1; i < 30; i++){
							li.stamp(class="stamp"+i)
								img(src="./images/stamps/stamp" + i + '.png',alt="")
						-}
				.linestamp__linestore
					.button
						a(href="https://store.line.me/stickershop/product/1165896/ja",target="_blank")
							img(src="./images/line_button.png",alt="LINE STORE")
					.or
						img(src="./images/line_or.png",alt="OR")
					.qr
						img(src="./images/line_qr.png",alt="")
		#twitter
			.inner
				.twitter__title
					img(src="./images/twitter_title.png",alt="ツイッター TWITTER")
				.twitter__detail
					.images
					.timeline
						a.twitter-timeline(href="https://twitter.com/kokushiki")
						script(async src="//platform.twitter.com/widgets.js",charset="utf-8")
		#contact
			.inner
				.contact__title
					img(src="./images/contact_title.png",alt="コンタクト CONTACT")
				.contact__form
					.form__inner
						p.subhead.
							お仕事の依頼、作品の感想など、ご連絡お待ちしております。<br>
							また、ご意見やご用命の方は下記のメールアドレスにご連絡ください。
						.mailaddres
							p.address.
								pow.koishi@gmail.com
						a.submit(href="mailto:pow.koishi@gmail.com")
							img(src="./images/contact_form_submit.png",alt="送信")